#app {
  display: flex;
  font-family: Pretendard;
  height: 100%;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff')
    format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

.flex-container {
  display: flex;
}

.flex-container {
  display: flex;
  width: 100%;
  &__col {
    display: flex;
    flex-direction: column;
  }
  &__row {
    display: flex;
    flex-direction: row;
  }
}

button {
  border-style: none;
}

.btn {
  width: 398px;
  height: 56px;
  border-radius: 16px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px; /* 160% */
  letter-spacing: -0.3px;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
}

.img-btn {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.btn__md {
  width: 288px;
  height: 56px;
  display: flex;
}

.chip-btn {
  display: flex;
  padding: 8px 14px;
  align-items: flex-start;
  border-radius: 100px;
  border: 1px solid $color-grey-10;
  color: $color-grey-80;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.3px;
}
