.alert-modal {
  @include color($color-grey-100, #fff);
  @include font(17px, 700px, 24px);
  text-align: center;
  letter-spacing: -0.3px;
  border-radius: 16px;
  padding: 40px 24px 20px 24px;
  z-index: 0;
  width: 374px;
  align-items: center;
  .alert-content {
    width: 326px;
    @include font(14px, 400px, 22px);
    letter-spacing: -0.3px;
    margin: 8px 0 24px 0;
  }
  .alert-title {
    width: 326px;
    @include font(17px, 700px, 24px);
    letter-spacing: -0.3px;
  }
  .alert-confirm-button {
    @include flex;
    @include color(#146eff, #fff);
    height: 48px;
    gap: 8px;
  }
}

.dim--default {
  @include size(1440px, 1024px);
  opacity: 0.800000011920929;
  background: #000;
  z-index: -100;
}

.wrapper__alert-button--single {
  button {
    width: 326px;
  }
}
.wrapper__alert-button--double {
  gap: 8px;
  margin-top: 20px;
  button {
    width: 159px;
  }
}

.select-alert-content {
  @include font(14px, 400px, 22px);
  width: 326px;
  letter-spacing: -0.3px;
  margin: 8px 0 16px 0;
}
