// components/ 폴더에는 더 작은 컴퍼넌트들이 들어갑니다.
// layout/이 (전반적인 뼈대를 정의하는) 거시적인 폴더임에 반해, components/는 위젯에 초점을 둡니다.
// 이 폴더는 슬라이더, 로더, 위젯, 그리고 기본적으로 이들과 비슷한 것을 비롯해 온갖 구체적인 모듈들을 담습니다.
// 전체 사이트/어플리케이션이 주로 작은 모듈들로 구성되어야 하므로 components에는 대개 많은 파일들이 있습니다.

// _media.scss
// _carousel.scss
// _thumbnails.scss

button {
  border-style: none;
  cursor: pointer;
}

.button {
  width: 398px;
  height: 56px;
  border-radius: 16px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px; /* 160% */
  letter-spacing: -0.3px;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.button--transparent {
  background-color: transparent;
  padding: 0;
}

.button--md {
  width: 288px;
  height: 56px;
  display: flex;
}

.add-category__button {
  width: 180px;
  height: 180px;
  flex-shrink: 0;
  border-radius: 8px;
  color: $color-grey-100;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 133.333% */
  letter-spacing: -0.3px;
  padding: 0 0 16px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  span {
    position: absolute;
  }
}

.close-button--top {
  width: 32px;
  height: 32px;
}

.chip-btn {
  display: flex;
  padding: 8px 14px;
  align-items: flex-start;
  border-radius: 100px;
  border: 1px solid $color-grey-10;
  color: $color-grey-80;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.3px;
}

.button--kakao {
  background-color: #fee500;
  color: $color-grey-100;
  img {
    margin-right: 89px;
  }
  a {
    color: $color-grey-100;
    text-decoration: none;
  }
}

.button--google {
  background-color: #ffffff;
  border: 1px solid $color-grey-10;
  color: $color-grey-100;
  img {
    margin-right: 97px;
  }
  a {
    color: $color-grey-100;
    text-decoration: none;
  }
}

.button--apple {
  background-color: #000000;
  color: #ffffff;
  img {
    margin-right: 102px;
  }
}

.btn__add {
  border-radius: 12px;
  background-color: #146eff;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 160% */
  letter-spacing: -0.3px;
  justify-content: center;
  align-items: center;
}

.btn--more {
  margin-left: 32px;
  width: 32px;
  height: 32px;
}

.btn-favorite {
  position: absolute;
  top: 4px;
  right: 28px;
  margin: 0;
}

.category-list__button {
  // width: 216px;
  height: 26px; /* 24px */
  overflow: hidden;
  color: $color-grey-100;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.3px;
  text-align: left;
  margin: 0px 16px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category-list__button--radio {
  overflow: hidden;
  color: $color-grey-100;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.3px;
  text-align: left;
  margin: 0px 16px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.expand-button {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.confirm-button--inactive {
  border-radius: 12px;
  background: $color-grey-10;
  width: 100%;
  height: 56px;
  color: $color-grey-30;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 160% */
  letter-spacing: -0.3px;
  cursor: auto;
}

.confirm-button--active {
  border-radius: 12px;
  background: #146eff;
  color: white;
  width: 100%;
  height: 56px;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 160% */
  letter-spacing: -0.3px;
  cursor: pointer;
}

.add-new-category__button {
  color: $color-grey-40;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 160% */
  letter-spacing: -0.3px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.alert-confirm-button {
  display: flex;
  width: 326px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #146eff;
  background-color: #fff;
}

.toast-button {
  color: #fff;
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
  letter-spacing: -0.3px;
  text-decoration-line: underline;
  background: transparent;
  padding: 0;
}

.button--alert-checkbox {
  gap: 8px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.alert-cancel-button {
  display: flex;
  width: 326px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: $color-grey-60;
  background-color: #fff;
}

.button--go-next {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  color: $color-grey-100;
  text-align: right;
  font-feature-settings: 'cv12' on;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 160% */
  letter-spacing: -0.3px;
  padding: 0;
}

/******** 토글 ********/
.toggle {
  width: 54px !important;
  height: 30px !important;
}

.toggle-off {
  background-color: $color-grey-20 !important;

  .toggle-handle-off {
    left: 1px;
    top: 10%;
  }
}

.toggle-handle {
  background: var(--toggle-handle-enabled, #fff);
  border-radius: 50%;
  display: inline-block;
  height: 24px !important;
  position: absolute;
  transition-duration: var(--toggle-duration, 0.15s);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 24px !important;
}

.toggle-on {
  background-color: #146eff !important;
  .toggle-handle-on {
    background-color: #ffffff !important;
    right: 1px !important;
    top: 10% !important;
  }
}

.button__confirm-modal {
  display: flex;
  width: 159px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: $color-grey-60;
  background-color: #fff;
}

/******** 라디오 버튼 ********/
.radio-buttons {
  // align-items: center;
  // gap: 0.5rem;
}

.radio-buttons .radio-button {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
}

/* 기존 라디오 버튼 삭제 */
.radio-button input[type='radio'] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* 1번 그룹 라디오 버튼, 외부 원 */
.radio-buttons .radio-button .custom-radio {
  position: absolute;
  top: -3px;
  height: 24px;
  right: 0;
  width: 24px;
  border-radius: 50%;
  border: 1px solid $color-grey-20;
}

/* 1번 그룹 라디오 버튼 선택 시 배경 색상 변경, 외부 원 */
.radio-buttons .radio-button input[type='radio']:checked ~ .custom-radio {
  background-color: #146eff;
}

/* 1번 그룹 라디오 버튼, 내부 원 */
.radio-buttons .custom-radio:after {
  content: '';
  position: absolute;
  /* 최초 display none */
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}

/* 1번 그룹 라디오 버튼 선택 시 화면 표출, 내부 원 */
.radio-buttons .radio-button input[type='radio']:checked ~ .custom-radio:after {
  display: block;
}

/* 세팅 뷰 버튼 */
.setting-main-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 0;
  color: $color-grey-100;
  font-feature-settings: 'cv12' on;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.3px;
  height: 48px;
  a {
    color: #13141a;
  }
  .wrapper__button-icon {
    @extend .flex-container__row--align-center;
    gap: 8px;
  }
}

.button--change-nickname {
  color: #146eff;
  font-feature-settings: 'cv12' on;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 169.231% */
  letter-spacing: -0.3px;
  background-color: transparent;
}

.button--category-icon {
  padding: 0;
  border-radius: 8px;
  width: 86px;
  height: 86px;
  position: relative;
  .isSelected {
    width: 86px;
    height: 86px;
    border-radius: 8px;
    background: rgba(19, 20, 26, 0.5);
    position: absolute;
    z-index: 1;
    top: 0;
    .controlCheckbox {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.moreButton {
  position: relative;
}

.more-button {
  position: absolute;
  z-index: 100;
  top: 28px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 8px;
  width: 112px;
  height: 88px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  button {
    border-radius: 4px;
    background: #fff;
    width: 96px;
    height: 36px;
    flex-shrink: 0;
    padding: 0;
    color: $color-grey-100;
    text-align: center;
    font-feature-settings: 'cv12' on;
    text-overflow: ellipsis;
    whitespace: nowrap;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.3px;
    &:hover {
      background: #146eff;
      color: #fff;
    }
  }
}
