// components/ 폴더에는 더 작은 컴퍼넌트들이 들어갑니다.
// layout/이 (전반적인 뼈대를 정의하는) 거시적인 폴더임에 반해, components/는 위젯에 초점을 둡니다.
// 이 폴더는 슬라이더, 로더, 위젯, 그리고 기본적으로 이들과 비슷한 것을 비롯해 온갖 구체적인 모듈들을 담습니다.
// 전체 사이트/어플리케이션이 주로 작은 모듈들로 구성되어야 하므로 components에는 대개 많은 파일들이 있습니다.

// _media.scss
// _carousel.scss
// _thumbnails.scss

button {
  border-style: none;
  cursor: pointer;
}

.button {
  width: 398px;
  height: 56px;
  border-radius: 16px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px; /* 160% */
  letter-spacing: -0.3px;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.button--transparent {
  background-color: transparent;
  padding: 0;
}

.button--md {
  width: 288px;
  height: 56px;
  display: flex;
}

.chip-btn {
  display: flex;
  padding: 8px 14px;
  align-items: flex-start;
  border-radius: 100px;
  border: 1px solid $color-grey-10;
  color: $color-grey-80;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.3px;
}

.button--kakao {
  background-color: #fee500;
  color: $color-grey-100;
  img {
    margin-right: 89px;
  }
}

.button--google {
  background-color: #ffffff;
  border: 1px solid $color-grey-10;
  color: $color-grey-100;
  img {
    margin-right: 97px;
  }
}

.button--apple {
  background-color: #000000;
  color: #ffffff;
  img {
    margin-right: 102px;
  }
}

.btn__add {
  border-radius: 12px;
  background-color: #146eff;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 160% */
  letter-spacing: -0.3px;
  justify-content: center;
  align-items: center;
}

.btn--more {
  margin-left: 32px;
  width: 32px;
  height: 32px;
}

.btn-favorite {
  position: absolute;
  top: 4px;
  right: 28px;
  margin: 0;
}

.category-list__button {
  width: 216px;
  height: 26px; /* 24px */
  overflow: hidden;
  color: $color-grey-100;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.3px;
  text-align: left;
  margin: 0px 16px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.expand-button {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
