// components/ 폴더에는 더 작은 컴퍼넌트들이 들어갑니다.
// layout/이 (전반적인 뼈대를 정의하는) 거시적인 폴더임에 반해, components/는 위젯에 초점을 둡니다.
// 이 폴더는 슬라이더, 로더, 위젯, 그리고 기본적으로 이들과 비슷한 것을 비롯해 온갖 구체적인 모듈들을 담습니다.
// 전체 사이트/어플리케이션이 주로 작은 모듈들로 구성되어야 하므로 components에는 대개 많은 파일들이 있습니다.

// _media.scss
// _carousel.scss
// _thumbnails.scss

button {
  border-style: none;
  cursor: pointer;
}

.category-modal__btn {
  @include flex(column, flex-end, center);
  @include font(15px, 500, 20px, $color-grey-100);
  @include size(180px, 180px);
  flex-shrink: 0;
  border-radius: 8px;
  text-align: center;
  letter-spacing: -0.3px;
  padding: 0 0 16px 0;
  box-sizing: border-box;
  position: relative;
  span {
    position: absolute;
  }
}

.btn--chip {
  @include font(14px, 600, 24px);
  @include flex(column, _, flex-start);
  padding: 8px 14px;
  border-radius: 100px;
  &.active {
    @include color($color-white, $color-grey-100);
    border: 1px solid $color-grey-100;
  }
  &.inactive {
    @include color($color-grey-80, transparent);
    border: 1px solid $color-grey-10;
    &:hover {
      background-color: #f5f5f5;
      border: 1px solid #f5f5f5;
      cursor: pointer;
    }
  }
}

.btn-social {
  @include flex(_, left, center);
  @include font(15px, 600, 24px);
  border-radius: 16px;
  padding: 16px;
  a {
    color: $color-grey-100;
    text-decoration: none;
  }
}

.btn--kakao {
  @extend .btn-social;
  @include color($color-grey-100, #fee500);
  img {
    margin-right: 89px;
  }
}

.btn--google {
  @extend .btn-social;
  @include color($color-grey-100, #ffffff);
  border: 1px solid $color-grey-10;
  img {
    margin-right: 97px;
  }
}

.btn--apple {
  @extend .btn-social;
  @include color(#ffffff, #000000);
  img {
    margin-right: 102px;
  }
}

.navbar__btn {
  @include flex;
  @include font(15px, 600, 24px);
  @include color(#ffffff, #146eff);
  border-radius: 12px;
}

.btn-favorite {
  position: absolute;
  top: 4px;
  right: 28px;
  margin: 0;
}

.singleCategoryBtn {
  width: 100%;
  @include flex(row, flex-start, center);
}

.category-list__btn {
  @include flex(row, flex-start, center);
  @include font(16px, 500, 24px, $color-grey-100);
  margin: 0px 16px 0px 0px;
  width: 100%;
}

.category-list__btn--radio {
  @include flex;
  @include font(16px, 500, 24px, $color-grey-100);
  margin: 0px 16px 0px 0px;
  background-color: pink;
  height: 40px;
}

.expand-button {
  @include size(24px, 24px);
  margin-right: 8px;
}

.btn-confirm {
  @include size(100%, 56px);
  @include font(15px, 600, 24px);
  border-radius: 12px;
  &.active {
    @include color(white, #146eff);
    cursor: pointer;
  }
  &.inactive {
    @include color($color-grey-30, $color-grey-10);
    cursor: auto;
  }
}

.add-new-category__btn {
  @include font(15px, 600, 24px, $color-grey-40);
  @include flex(_, left, _);
  letter-spacing: -0.3px;
  gap: 8px;
  width: 100%;
}

.alert-btn {
  @include flex;
  // gap: 8px;
  &.confirm {
    @include color(#146eff, #fff);
    cursor: pointer;
  }
  &.cancel {
    @include color($color-grey-60, #fff);
  }
  &.inactive {
    @include color($color-grey-20, #fff);
    cursor: auto;
  }
}

.alert-btn--checkbox {
  @include flex;
  background-color: transparent;
  padding: 0;
}

.button--go-next {
  @include font(15px, 600, 24px);
  @include color($color-grey-100, transparent);
  display: flex;
  flex-direction: row;
  text-align: right;
  font-feature-settings: 'cv12' on;
  letter-spacing: -0.3px;
  padding: 0;
}

/******** 토글 ********/
:root {
  --toggle-border-on: #146eff !important;
  --toggle-bg-on: #146eff !important;
  --toggle-width: 54px;
  --toggle-height: 30px;
  --toggle-handle-enabled: #ffffff;
  --toggle-handle-disabled: $color-grey-20;
}

.toggle-container,
.toggle-button {
  box-shadow: none !important;
}

.toggle-off {
  background-color: $color-grey-20 !important;
  .toggle-handle-off {
    left: 1px;
    top: 10%;
  }
}

.toggle-handle {
  border-radius: 50%;
  display: inline-block;
  height: 24px !important;
  position: absolute;
  transition-duration: var(--toggle-duration, 0.15s);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 24px !important;
}

.toggle-on {
  .toggle-handle-on {
    right: 1px !important;
    top: 10% !important;
  }
}

/******** 라디오 버튼 ********/

.radio-buttons .radio-button {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
}

/* 기존 라디오 버튼 삭제 */
.radio-button input[type='radio'] {
  position: absolute;
  opacity: 0;
  @include size(0, 0);

  height: 0;
  width: 0;
}

/* 1번 그룹 라디오 버튼, 외부 원 */
.radio-buttons .radio-button .custom-radio {
  @include size(24px, 24px);
  position: absolute;
  top: -3px;
  right: 0;
  border-radius: 50%;
  border: 1px solid $color-grey-20;
}

/* 1번 그룹 라디오 버튼 선택 시 배경 색상 변경, 외부 원 */
.radio-buttons .radio-button input[type='radio']:checked ~ .custom-radio {
  background-color: #146eff;
}

/* 1번 그룹 라디오 버튼, 내부 원 */
.radio-buttons .custom-radio:after {
  @include size(10px, 10px);
  content: '';
  position: absolute;
  /* 최초 display none */
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: white;
}

/* 1번 그룹 라디오 버튼 선택 시 화면 표출, 내부 원 */
.radio-buttons .radio-button input[type='radio']:checked ~ .custom-radio:after {
  display: block;
}

/* 세팅 뷰 버튼 */
.setting-main-button {
  @include flex(column, space-between, center);
  @include color($color-grey-100, transparent);
  @include font(16px, 500, 24px);
  flex-direction: row;
  padding: 0;
  font-feature-settings: 'cv12' on;
  letter-spacing: -0.3px;
  height: 48px;
  a {
    color: #13141a;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .wrapper__button-icon {
    @extend .flex-container__row--align-center;
    gap: 8px;
  }
}

.button--change-nickname {
  @include color(#146eff, transparent);
  @include font(13px, 600, 22px, #146eff);
  font-feature-settings: 'cv12' on;
  letter-spacing: -0.3px;
}

.button--category-icon {
  @include size(86px, 86px);
  padding: 0;
  border-radius: 8px;
  position: relative;
  .isSelected {
    @include size(86px, 86px);
    border-radius: 8px;
    background: rgba(19, 20, 26, 0.5);
    position: absolute;
    z-index: 1;
    top: 0;
    .controlCheckbox {
      @include size(24px, 24px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.moreButton {
  position: relative;
}

// 콘텐츠 더보기 버튼
.more-button--contents {
  @include flex(row, space-between, center);
  @include size(112px, 124px);
  position: absolute;
  z-index: 100;
  top: 28px;
  right: 0;
  flex-direction: column;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  .single-btn {
    @include font(14px, 600, 20px);
    @include size(96px, 36px);
    @include color($color-grey-100, #fff);
    margin-left: 0;
    border-radius: 4px;
    padding: 0;
    text-align: center;
    letter-spacing: -0.3px;
    &:hover {
      @include color(#fff, #146eff);
    }
  }
}
// 카테고리 더보기 버튼
.more-button {
  // @include flex(space-between, center);
  @include size(112px, 88px);
  position: absolute;
  z-index: 100;
  top: 28px;
  right: 0;
  flex-direction: column;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  button {
    @include font(14px, 600, 20px);
    @include size(96px, 36px);
    @include color($color-grey-100, #fff);
    border-radius: 4px;
    flex-shrink: 0;
    padding: 0;
    text-align: center;
    &:hover {
      @include color(#fff, #146eff);
    }
  }
}

// 카테고리 더보기 버튼 -- 검색 결과
.moreBtnBase {
  position: relative;
  .more-button--search {
    @extend .more-button;
    top: 44px;
  }
}

// 콘텐츠 공유 버튼
.content-copy__btn {
  @include size(61px, 26px);
  @include color($color-white, $color-blue);
  @include font(13px, 600, 18px, $color-white);
  @include flex(row, center, center);
  padding: 4px 8px;
  text-align: right;
  border-radius: 4px;
  box-sizing: border-box;
}

// size 요소만 분리
// height 기준으로 네이밍
// width값은 wrapper로 정하기

.btn-56 {
  width: 100%;
  height: 56px;
}

.btn-180 {
  height: 180px;
}

.btn-32 {
  height: 32px;
}

.btn-26 {
  height: 26px;
}

.btn-24 {
  height: 24px;
}

.btn-48 {
  width: 100%;
  height: 48px;
}

.btn-86 {
  height: 86px;
}

.btn-88 {
  height: 86px;
}

// 색
.btn--transparent {
  background-color: transparent;
  padding: 0;
}
