.category-list {
  @extend .flex-container__col--center;
  width: 288px;
  padding-top: 24px;
}

.category-tree {
  width: 100%;
}

.category-item {
  width: 100%;
  @extend .flex-container__col;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    .category-item__btn__wrapper {
      @include flex;
    }
    li {
      @include flex(column, space-between, center);
      @include size(100%, 40px);
      flex-direction: row;
      margin-top: 4px;
      box-sizing: border-box;
    }
    .category-list__first-ul {
      padding-left: 0;
    }
    .category-list__second-ul {
      padding-left: 32px;
    }
    .category-list__third-ul {
      padding-left: 64px;
    }
  }
}

.category-item-radio {
  @extend .category-item;
  width: 398px;
  ul {
    li {
      height: 56px;
      .category-list-radio__category-button {
        @include color($color-grey-100, transparent);
        overflow: hidden;
        text-overflow: ellipsis;
        @include font(16px, 500, 24px);
        letter-spacing: -0.3px;
        text-align: left;
        display: flex;
        flex-direction: row;
        align-items: center;
        .ic__expandMore {
          margin-right: 8px;
        }
        .ic__category {
          margin-right: 12px;
        }
      }
      .category-item-radio__text-container {
        @include flex(column, start, left);
        .category-item-radio__category-name {
          @include font(16px, 700, 24px);
          color: #146eff;
        }
        .category-item-radio__category-parent-name {
          @include font(13px, 500, 18px);
          color: $color-grey-60;
        }
      }
    }
  }
}

.category-icon {
  margin-right: 10px;
}
