.authenticated-view {
  display: flex;
}

.contents-item {
  width: 100%;
  @include flex(row, space-between, center);

  .item-container {
    @include flex(row, left, center);
    height: 112px;
    width: 100%;

    .item__wrapper {
      h1 {
        @include size(100%, 24px);
        text-align: left;
        overflow: hidden;
        color: $color-grey-100;
        text-overflow: ellipsis;
        @include font(16px, 600, 24px);
        letter-spacing: -0.3px;
      }
      p {
        @include size(100%, 24px);
        text-align: left;
        overflow: hidden;
        color: $color-grey-70;
        text-overflow: ellipsis;
        @include font(14px, 400, 21px);
        letter-spacing: -0.3px;
        margin: 4px 0 12px 0;
      }

      footer {
        width: 100%;
        align-items: center;
        color: $color-grey-60;
        @include font(13px, 500, 18px);
        letter-spacing: -0.3px;
        a {
          @include flex(row, start, center);
        }
        a:visited {
          @include font(13px, 500, 18px);
        }
        .ic-category {
          width: 20px;
          margin-right: 6px;
          border-radius: 10px;
        }
      }
    }
  }
}

.contents-item__btn__wrapper {
  button {
    width: 32px;
    height: 32px;
    background-color: transparent;
    margin-left: 32px;
    @include flex(column, center, center);
    img {
      width: 15.75px;
    }
  }
}

.contents-container {
  @include flex(column, center, start);
  width: 100%;
  .contents-list__wrapper {
    @include flex(column, left, start);
    width: 100%;
    gap: 20px;
    margin-top: 16px;
    height: 100vh;
    overflow-y: scroll;
    overscroll-behavior: none;
  }
}

.contents-num__wrapper {
  color: $color-grey-70;
  @include font(14px, 600, 24px);
  letter-spacing: -0.3px;
}
