.divider {
  @include size(100%, 16px);
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.navbar__divider--top {
  @include size(368px, 24px);
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  position: fixed;
  top: 198px;
}

.navbar__divider--bottom {
  @include size(368px, 24px);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  position: fixed;
  bottom: 96px;
}

.category-list__divider {
  @include size(288px, 1px);
  margin: 24px 0;
  background: #f4f3f3;
}

.searchpage-divider {
  background: $color-grey-10;
  @include size(100%, 1px);
  margin-bottom: 48px;
}
