// 헤더 close 버튼은 오른쪽에 위치하는 것이 default
.modal-header {
  @include size(100%, 88px);
  @include flex(row, center, center);
  box-sizing: border-box;
  padding: 0 28px;
  .modal-title {
    width: 278px;
    color: $color-grey-100;
    text-align: center;
    @include font(17px, 700, 24px);
    letter-spacing: -0.3px;
  }
}

// 헤더 close 버튼이 왼쪽일 때 - 스타일 바인딩
.headerBtnLeft {
  flex-direction: row;
  justify-content: left;
  .modal-title {
    margin-left: 32px;
  }
}

// 헤더 close 버튼이 오른쪽일 때 - 스타일 바인딩
.headerBtnRight {
  flex-direction: row-reverse;
  justify-content: right;
  .modal-title {
    margin-right: 32px;
  }
}

.modal-header--step {
  @extend .modal-header;
  .modal-title {
    margin: 0 32px;
  }
}

.modal-header--edit-title {
  @include flex(column, space-between, center);
  flex-direction: row;
  @include size(100%, 88px);
  padding: 0 28px;
  box-sizing: border-box;
  button {
    color: $color-grey-80;
    text-align: right;
    font-feature-settings: 'cv12' on;
    @include font(15px, 500, 24px);
    letter-spacing: -0.3px;
  }
}

.titleHeader {
  padding: 80px 64px 16px 64px;
  width: 100%;
  h1 {
    overflow: hidden;
    color: $color-grey-100;
    text-overflow: ellipsis;
    whitespace: nowrap;
    @include font(32px, 700, 48px);
    letter-spacing: -0.3px;
    text-align: left;
  }
}

#search-titleHeader {
  padding: 80px 64px 16px 0px;
}
