// 헤더 close 버튼은 왼쪽에 위치하는 것이 default
.modal-header {
  @include size(100%, 88px);

  &.left {
    @include flex(row, center, center);
  }
  &.right {
    @include flex(row-reverse, center, center);
  }
  .modal-title {
    width: 100%;
    color: $color-grey-100;
    text-align: center;
    @include font(17px, 700, 24px);
    &.left {
      margin-right: 32px;
    }
    &.right {
      margin-left: 32px;
    }
  }
}

.modal-header--step {
  @extend .modal-header;
  @include flex(row, center, center);
  .modal-title {
    margin: 0 32px;
  }
}

.modal-header--edit-title {
  @include flex(column, space-between, center);
  flex-direction: row;
  @include size(100%, 88px);
  padding: 0 28px;
  box-sizing: border-box;
  button {
    color: $color-grey-80;
    text-align: right;
    font-feature-settings: 'cv12' on;
    @include font(15px, 500, 24px);
    letter-spacing: -0.3px;
  }
}

.titleHeader {
  padding: 80px 64px 16px 64px;
  width: 100%;
  h1 {
    overflow: hidden;
    color: $color-grey-100;
    text-overflow: ellipsis;
    whitespace: nowrap;
    @include font(32px, 700, 48px);
    letter-spacing: -0.3px;
    text-align: left;
  }
}

#search-titleHeader {
  padding: 80px 64px 16px 0px;
}
