.img-profile {
  @include size(40px, 40px);
  border-radius: 1000px;
  border: 1px solid rgba(19, 22, 26, 0.03);
  background: url(<@/assets/img/img_empty_noprofile.png>), lightgray 50% / cover no-repeat;
}

.img-category-icon {
  @include size(24px, 24px);
  border-radius: 6px;
}

.img-category-icon--lg {
  @include size(40px, 40px);
  border-radius: 6px;
  margin-right: 12px;
}

.img-add-category,
.img-add-content {
  @include size(180px, 180px);
  border-radius: 8px;
  position: absolute;
  top: 0;
}

.img-category-custom {
  @include flex;
  @include size(80px, 80px);
  border-radius: 10px;
}

.category-default-icon {
  @include size(86px, 86px);
  border-radius: 8px;
}

.img-empty {
  @include size(120px, 120px);
}

.icon-small {
  @include size(20px, 20px);
}

.icon-ex-small {
  @include size(14px, 14px);
}

.img-search-category-result {
  @include size(56px, 56px);
  border-radius: 8px;
}
