// 입력필드 힌트
// : 입력필드 on/off와 상관없이 입력필드에 1자도 입력하지 않았을 때만 노출

//      입력필드 내용 삭제 아이콘
// 클릭 시 입력필드 포커스 ON 및 커서 노출 + 입력필드 내용 모두 삭제 + 입력필드 힌트 노출
// 버튼 위치: 입력필드 오른편 고정
// 입력필드 내 텍스트가 길어진 경우, 입력필드 내용 삭제 아이콘은 상단 노출 유지하되, 텍스트 좌우로 스와이프함에 따라, 가려진 텍스트 조회 가능

input {
  border-style: none;
}

.input__category-modal {
  position: relative;
  input {
    display: flex;
    @include size(398px, 50px);
    @include font(15px, 500, 22px);
    @include color($color-grey-100, #f5f5f5);
    padding: 14px 16px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    border-style: none;
    font-feature-settings: 'cv12' on;
    letter-spacing: -0.3px;
    box-sizing: border-box;
    font-feature-settings: 'cv12' on;
    &::placeholder {
      color: $color-grey-60;
    }
    &:focus {
      outline: none;
      caret-color: #146eff;
    }
  }
  button {
    position: absolute;
    top: 13px;
    right: 16px;
  }
}

// 콘텐츠 추가 인풋
.input__content-modal {
  @include size(100%, 50px);
  @include font(15px, 500, 22px, $color-grey-100);
  padding: 14px 16px;
  border-radius: 8px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  gap: 8px;
  text-align: left;
  &::placeholder {
    @include font(15px, 500, 22px, $color-grey-60);
  }
}

.textarea__memo {
  @include size(398px, 100%);
  @include color($color-grey-100, #f5f5f5);
  @include font(15px, 500, 22px, $color-grey-100);
  display: flex;
  min-height: 140px;
  max-height: 248px;
  padding: 14px 16px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  resize: none;
  &:focus {
    outline: none;
    caret-color: #146eff;
  }
}

.input__edit-title {
  text-align: center;
  font-feature-settings: 'cv12' on;
  @include font(22px, 500, 34px, $color-grey-100);
  letter-spacing: -0.3px;
  width: 398px;
  word-break: keep-all;
  border: none;
  resize: none;

  &:focus {
    outline: none;
    caret-color: #146eff;
  }
  &::placeholder {
    text-align: center;
    font-feature-settings: 'cv12' on;
    @include font(22px, 500, 34px, $color-grey-30);
    letter-spacing: -0.3px;
  }
}

.input__sm--default {
  @include size(100%, 50px);
  display: flex;
  padding: 14px 16px;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #f5f5f5;
  font-feature-settings: 'cv12' on;
  @include font(15px, 500, 22px);
  letter-spacing: -0.3px;
  box-sizing: border-box;
  &::placeholder {
    color: $color-grey-60;
  }
}

.input__sm--readonly {
  @extend .input__sm--default;
  color: $color-grey-30;
  text-indent: 32px;
  cursor: auto;
  &:focus {
    outline: none;
  }
}

.input__sm--before-edit {
  @extend .input__sm--default;
  color: $color-grey-100;
}

.input__sm--content-link {
  @extend .input__sm--default;
  padding: 14px 93px 14px 14px;
  outline: none;
}
