.label__modal {
  color: $color-grey-90, #232329;
  font-feature-settings: 'cv12' on;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
  letter-spacing: -0.3px;
}
