.label__modal {
  color: $color-grey-90, #232329;
  font-feature-settings: 'cv12' on;
  @include font(15px, 500, 24px);
  letter-spacing: -0.3px;
}

.label__md {
  color: $color-grey-100;
  font-feature-settings: 'cv12' on;
  @include font(16px, 500, 24px);
  letter-spacing: -0.3px;
}
