/********  모달 공통 ********/

dialog {
  border-style: none;
}

.modal {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 0;
}

// 모달 - sm
.modal__sm {
  @extend .modal;
  width: 462px;
}

// 모달 - lg
.modal__lg {
  @extend .modal;
  width: 500px;
}

.wrapper__modal-footer {
  width: 398px;
  height: 120px;
  position: absolute;
  bottom: 0px;
  justify-content: center;
  background-color: #fff;
}

.modal-footer {
  width: 398px;
  position: absolute;
  bottom: 32px;
  justify-content: center;
  background-color: #fff;
}

.modal__divider--bottom {
  width: 100%;
  height: 48px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  z-index: 100;
  position: absolute;
  bottom: 120px;
}

/**** 카테고리 추가 - 카테고리 선택 모달 ****/
.category-select__modal {
  @extend .modal__sm;
  height: 608px;
  align-items: center;
}

.wrapper__category-icon {
  width: 398px;
  height: 290px;
  gap: 18px;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  margin-top: 8px;
  img {
    width: 86px;
    height: 86px;
  }
}

/********  카테고리 모달 ********/
.category-modal {
  @extend .modal__lg;
  height: 338px;
  padding: 0 54px 54px 54px;
  align-items: center;
  .add-category__button__wrapper {
    padding: 0;
    gap: 32px;
  }
}

/********  카테고리 추가 모달 ********/
.category-add__modal {
  @extend .modal__sm;
  height: 466px;
  align-items: center;
  padding: 0 28px 32px 28px;
}

.icon__category-change {
  position: relative;

  .icon__thumb-change {
    position: absolute;
    left: 62px;
    bottom: -5px;
  }
}

.wrapper__category-change {
  margin: 8px 0 40px 0;
}

.wrapper__category-position {
  margin: 28px 0 60px 0;
  justify-content: space-between;
  width: 100%;
  label {
    color: $color-grey-90;
    font-feature-settings: 'cv12' on;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 160% */
    letter-spacing: -0.3px;
  }
  button {
    align-items: center;
    color: $color-grey-100;
    text-align: right;
    font-feature-settings: 'cv12' on;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 160% */
    letter-spacing: -0.3px;
  }
}

/**** 카테고리 위치 설정 모달 ****/
.wrapper__confirm-button {
  width: 398px;
  height: 120px;
  position: absolute;
  bottom: 0px;
  justify-content: center;
  background-color: #fff;
}

.category-set-location__modal {
  @extend .modal__sm;
  height: 608px;
  align-items: center;
  position: relative;
  .wrapper__search-input {
    width: 398px;
    height: 50px;
    margin: 16px 0 40px 0;
  }
  .wrapper__add-new-category__button {
    margin-bottom: 24px;
  }
  .wrapper__modal-category-list {
    position: absolute;
    overflow-y: scroll;
    top: 230px;
    z-index: 0;
    height: 296px;
    width: 398px;
  }
}

/******** 콘텐츠 추가 모달 ********/
.content-add__modal {
  @extend .modal__sm;
  height: 608px;
  align-items: center;
  .ul__content-modal {
    width: 398px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    color: $color-grey-60;
    margin: 12px 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
  .wrapper__content-modal-input {
    width: 398px;
  }
  .wrapper__content-modal-button {
    width: 100%;
    bottom: 0;
    position: absolute;
  }

  // 콘텐츠 추가 모달 step 02
  .wrapper__modal-inner {
    width: 398px;
    margin-bottom: 24px;
    label {
      margin-bottom: 8px;
    }
  }
}

.wrapper__modal-input-edit {
  position: absolute;
  bottom: 50%;
}
