.testerLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  .testerLogin-form {
    background-color: rgb(238, 238, 238);
    border-radius: 4px;
    width: 400px;
    margin-top: 20px;
    padding: 20px;
    input {
      border: 1px solid rgba(46, 46, 46, 0.625);
      width: 100%;
      border-radius: 4px;
      height: 36px;
      box-sizing: border-box;
      margin-bottom: 16px;
      margin-top: 4px;
      text-indent: 4px;
      font-size: 16px;
      color: rgb(46, 46, 46);
    }
  }
  button {
    margin-top: 10px;
    background-color: rgba(72, 232, 247, 0.842);
    color: rgb(46, 46, 46);
    @include size(100%, 40px);
    border-radius: 4px;
    padding: 1px 2px;
    font-size: 16px;
  }
}
