.thumbnail__wrapper {
  position: relative;
  .thumbnail {
    @include size(112px, 112px);
    margin-right: 24px;
  }
}

.thumbnail__sm {
  @include size(72px, 72px);
  flex-shrink: 0;
  border-radius: 9.778px;
  border: 1px solid rgba(26, 19, 19, 0.05);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.wrapper__modal-thumbnail {
  @include flex(space-between, center);
  flex-direction: row;
  width: 398px;
  gap: 8px;
  margin-bottom: 36px;
  .wrapper__thumbnail-content {
    .box__input--content-title {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }
}

.text__contentTitle {
  display: flex;
  @include size(282px, 20px);
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
  color: var(--grey-100, #13141a);
  font-feature-settings: 'cv12' on;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include font(16px, 600, 24px);
  letter-spacing: -0.3px;
}

.text__contentLink {
  display: flex;
  width: 310px;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
  color: var(--grey-70, #79797c);
  font-feature-settings: 'cv12' on;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include font(13px, 400, 20px);
  letter-spacing: -0.3px;
}

.box__thumbnail {
  @include flex(space-between, center);
  flex-direction: row;
  width: 398px;
  gap: 8px;
  margin-bottom: 36px;
  .box__thumbnail-img {
    position: relative;
    @include size(72px, 72px);
    .button__checkbox {
      position: absolute;
      z-index: 100;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0;
      @include size(24px, 24px);
      background-color: transparent;
    }
  }

  .wrapper__thumbnail-content {
    .box__input--content-title {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }
}

#thumbnail-category {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

// 메모
.searhResult-content-memo {
  border-radius: 8px;
  background: #f5f5f5;
  padding: 24px;
  box-sizing: border-box;

  .searhResult-content-memo__title {
    text-align: left;
    color: $color-grey-60;
    @include font(16px, 600, 24px);
    letter-spacing: -0.3px;
  }
  .searhResult-content-memo__content {
    color: $color-grey-70;
    @include font(14px, 500, 22px);
    letter-spacing: -0.3px;
    margin: 4px 0 16px 0;
    text-align: start;
  }
  .hideMemo {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .searchResult-content-memo__button {
    color: $color-grey-80;
    @include font(14px, 500, 16px);
    letter-spacing: -0.3px;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0;
  }
}
