.toast {
  @include size(360px, 54px);
  @include flex;
  border-radius: 100px;
  background: rgba(35, 35, 41, 0.8);
  backdrop-filter: blur(10px);
  padding: 0 16px;
  box-sizing: border-box;
  .toast-content {
    width: 239px;
    margin: 0 12px 0 16px;
    color: #fff;
    @include font(14px, 500, 22px);
    letter-spacing: -0.3px;
  }
}
