// 만약 페이지에 한정된 스타일이 있다면, 그것은 pages/ 폴더 속, 페이지 이름을 딴 파일에 넣는 것이 좋습니다.
// 예를 들면, 홈페이지에만 한정된 스타일이 있어 pages/ 폴더 속 _home.scss 파일이 필요해지는 것은 드문 일이 아닙니다.

// _home.scss
// _contact.scss

.wrapper__navbar {
  // position: fixed;
  // top: 0;
  background-color: #ffffff;
  height: 100vh;
}

.home-container {
  width: 100%;
  @include flex(column, left, start);
  padding: 80px 64px 0px 64px;
  gap: 8px;
  position: fixed;
  top: 0;
  left: 368px;
  h1 {
    // overflow: hidden;
    color: $color-grey-100;
    text-overflow: ellipsis;
    @include font(32px, 700, 48px);
    letter-spacing: -0.3px;
    text-align: left;
    margin: 0;
  }
}
