h1 {
  color: $color-grey-100;
  text-align: center;
  @include font(32px, 600, 48px);
  letter-spacing: -0.3px;
  margin: 0;
}

p {
  text-align: center;
  @include font(14px, 400, 24px, $color-grey-80);
  letter-spacing: -0.3px;
  margin: 0;
}

.login-container {
  position: absolute;
  @include flex;
  @include size(100%, 100vh);
}

.login-form {
  @include flex(column, start, center);
  @include size(462px, 501px);
  border-radius: 16px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 16px;
  z-index: 999;
}

.login__btn__wrapper {
  @include flex(column, center, center);
  width: 398px;
  margin: 0px 0 32px 0;
  gap: 12px;
  a {
    color: $color-grey-100;
    text-decoration: none;
    width: 100%;
  }
}

.desc__wrapper {
  text-align: center;
  @include font(13px, 500, 16px, $color-grey-60);
  letter-spacing: -0.3px;
  a {
    text-decoration-line: underline;
    cursor: pointer;
    color: $color-grey-100;
    &:visited {
      color: $color-grey-60;
    }
  }
}

.close-btn__wrapper {
  @include flex(_, right, _);
  // justify-content: right;
  width: 100%;
}

.banner__wrapper {
  text-align: center;
  @include font(13px, 500, 20px);
  letter-spacing: -0.3px;
  position: relative;
  width: 157px;
  margin-top: 56px;
  img {
    width: 100%;
  }
  span {
    position: absolute;
    top: 38%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 157px;
  }
  strong {
    color: #146eff;
  }
}
