h1 {
  color: $color-grey-100;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 150% */
  letter-spacing: -0.3px;
  margin: 0;
}

p {
  color: $color-grey-80;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.3px;
  margin: 0;
}

.login-container {
  display: flex;
  width: 100%;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  height: 100vh; /* 화면 높이를 기준으로 모달 컨테이너의 높이를 설정 */
}

.login-form {
  width: 462px;
  height: 501px;
  border-radius: 16px;
  background-color: #ffffff;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
  // position: absolute;
  z-index: 999;
}

.login-btn__wrapper {
  margin: 0px 0 32px 0;
  gap: 12px;
}

.desc__wrapper {
  color: $color-grey-60;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 123.077% */
  letter-spacing: -0.3px;
  a {
    text-decoration-line: underline;
    cursor: pointer;
    color: $color-grey-100;
    &:visited {
      color: $color-grey-60;
    }
  }
}

.close-btn__wrapper {
  justify-content: right;
  width: 100%;
}

.banner__wrapper {
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
  letter-spacing: -0.3px;
  position: relative;
  width: 157px;
  margin-top: 56px;
  img {
    width: 100%;
  }
  span {
    position: absolute;
    top: 38%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 157px;
  }
  strong {
    color: #146eff;
  }
}
