.onboarding {
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  .header {
    @include flex(row, space-between, center);

    padding: 28px 40px;
    box-sizing: border-box;
    border-bottom: 1px solid $color-grey-10;
    background: #fff;
    width: 100%;
    height: 80px;
    position: fixed;
    .wrapper__header-button {
      display: flex;
      gap: 8px;

      button {
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px; /* 171.429% */
        @include size(132px, 40px);
        border-radius: 6px;
      }
      #btn__app--sm {
        color: $color-grey-80;
        border: 1px solid $color-grey-20;
        a {
          color: $color-grey-80;
        }
      }
      #btn__web--sm {
        color: $color-white;
        background: #146eff;
        a {
          color: $color-white;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .wrapper__article {
    padding: 81px 40px 0px 40px;
    .wrapper__article-main {
      // padding: 238px 0;
      height: 820px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .section__main {
        height: 344px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        h2 {
          text-align: center;
          @include font(44px, 700, 64px, $color-grey-90);
          letter-spacing: -0.3px;
          margin: 0;
        }
        p {
          text-align: center;
          @include font(20px, 400, 32px, #515253);
          letter-spacing: -0.3px;
        }
        .wrapper__section-button {
          margin-top: 64px;
          gap: 16px;
          display: flex;
          flex-direction: row;
          button {
            @include size(316px, 80px);
            flex-shrink: 0;
            text-align: center;
            @include font(20px, 700, 32px);
            letter-spacing: -0.3px;
            border-radius: 20px;
          }
          #btn__app {
            border: 1px solid $color-grey-10;
            color: $color-grey-80;
            letter-spacing: -0.3px;
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              color: $color-grey-80;
              width: 100%;
              height: 100%;
            }
          }
          #btn__web {
            background: $color-blue;
            color: $color-white;
          }
        }
      }
    }
  }
  .wrapper__article__sub {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 48px;
    margin-bottom: 80px;
    .article__img-background {
      border-radius: 40px;
      background: #f7f7f9;
      @include size(50%, 600px);
    }
    #onboarding_img-1 {
      @include flex(column, end, center);
      img {
        width: 400px;
      }
    }
    #onboarding_img-2 {
      @include flex(column, center, center);
      img {
        width: 490.769px;
      }
    }
    #onboarding_img-3 {
      @include flex(column, center, center);
      overflow: hidden;
      padding: 39px 0;
      box-sizing: border-box;
      img {
        height: 521px;
      }
    }
    .article__text {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 12px;
      img {
        width: 32px;
        margin-bottom: 4px;
      }
      h3 {
        @include font(34px, 700, 48px, $color-grey-90);
        letter-spacing: -0.3px;
        margin: 0;
      }
      p {
        @include font(18px, 400, 26px, $color-grey-80);
        letter-spacing: -0.3px;
        text-align: left;
      }
    }
    .article__text-reversed {
      @extend .article__text;
      align-items: end;
    }
  }
  .footer__onboarding {
    @include flex(row, space-between, end);
    width: 100%;
    padding: 0 40px 60px 40px;
    height: 140px;
    box-sizing: border-box;
    a {
      color: #79797c;
      &:visited {
        color: #79797c;
      }
    }
    ul {
      .btn-main {
        color: $color-grey-80;
        text-align: center;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px; /* 133.333% */
        @include color($color-grey-100, transparent);
        margin-right: 72px;
      }
      @include flex(row, start, center);
      list-style: none;
      color: $color-grey-70;
      font-size: 13px;
      font-weight: 500;
      line-height: 20px; /* 153.846% */
      gap: 16px;
      padding: 0;
      margin: 0;
    }

    .btn--instagram {
      @include flex(row, center, center);
      width: 40px;
      height: 40px;
      background-color: $color-grey-10;
      border-radius: 40px;
      a {
        width: 20px;
        height: 20px;
      }
    }
    .wrapper__footer-onboarding {
      width: 100%;
      @include flex(row, space-between, center);
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}

.text-onboarding-mail {
  color: #79797c;
}

// 모바일 미디어 쿼리 추가
@media screen and (max-width: 768px) {
  .onboarding {
    .header {
      padding: 16px 20px;

      .wrapper__header-button {
        button {
          @include size(100px, 36px);
          font-size: 15px;
          line-height: 1.2;
        }
        height: 100%;
      }
      #header-button-show {
        button {
          padding: 8px 14px;
          font-size: 13px;
          border-radius: 900px;
          word-break: keep-all;
          font-weight: 600;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          line-height: 1.3;
        }
        #btn__app--sm {
          max-width: 70px;
        }
        #btn__web--sm {
          max-width: 90px;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .wrapper__article {
      padding: 61px 20px 0px 20px;

      .wrapper__article-main {
        height: auto;
        padding: 93px 0;

        .section__main {
          height: auto;
          padding: 0 16px;
          width: 100%;

          h2 {
            font-size: 22px;
            line-height: 32px;
          }

          p {
            font-size: 13px;
            line-height: 20px;
          }

          .wrapper__section-button {
            flex-direction: row;
            margin-top: 40px;
            width: 100%;
            gap: 8px;

            button {
              @include size(50%, 56px);
              font-size: 15px;
              line-height: 24px;
              font-weight: 600;
              border-radius: 16px;
            }
          }
        }
      }
    }

    #wrapper__article__sub-rev {
      flex-direction: column;
    }

    .wrapper__article__sub {
      flex-direction: column-reverse;
      gap: 24px;
      margin-bottom: 54px;

      .article__img-background {
        width: 100%;
        height: 400px;
      }

      .article__text,
      .article__text-reversed {
        width: 100%;
        align-items: flex-start;
        padding: 0 20px;

        h3 {
          font-size: 24px;
          line-height: 32px;
        }

        p {
          font-size: 16px;
          line-height: 24px;
        }
      }

      #onboarding_img-1 img {
        width: 280px;
      }

      #onboarding_img-2 img {
        width: 370px;
      }

      #onboarding_img-3 img {
        width: 380%;
        height: unset;
      }

      .article__text img {
        width: 20px;
      }

      .article__text h3 {
        font-size: 18px;
        line-height: 28px;
      }

      .article__text p {
        font-size: 13px;
        line-height: 20px;
      }
    }

    .footer__onboarding {
      padding: 28px 20px 62px 20px;
      height: auto;

      .wrapper__footer-onboarding {
        flex-direction: column;
        gap: 24px;
        align-items: flex-start;
      }

      ul {
        flex-wrap: wrap;
        gap: 8px;

        .btn-main {
          margin-right: 0;
          width: 100%;
          text-align: left;
          padding: 0;
        }
      }
    }
  }
}
