.search-container {
  padding: 8px 64px;
  box-sizing: border-box;
  overflow-x: hidden;
  // 카테고리
  .wrapper__searchResult-category {
    display: flex;
    flex-direction: column;
    margin: 16px 0 40px 0;
    gap: 20px;
    .wrapper__searchResult-category-item {
      @extend .flex-container__row;
      justify-content: space-between;
      .searchResult-category-item {
        @extend .flex-container__row;
        gap: 16px;
        .searchResult-category-text-box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 6px;
          .searchResult-category-title {
            overflow: hidden;
            color: $color-grey-100;
            text-overflow: ellipsis;
            white-space: nowrap;
            @include font(16px, 600, 24px);
            letter-spacing: -0.3px;
            text-align: start;
          }
          .searchResult-category-detail {
            color: $color-grey-60;
            @include font(13px, 500, 18px);
            letter-spacing: -0.3px;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
  .wrapper__show-more-button {
    width: 100%;
    button {
      border-radius: 12px;
      border: 1px solid var(--grey-20, #dcdcde);
      @include size(56px, 100%);
      background: transparent;
    }
  }
  // 콘텐츠
  .wrapper__searchResult-content {
    display: flex;
    flex-direction: column;
    margin: 16px 0 40px 0;
    gap: 20px;
    .wrapper__searchResult-content-item {
      @include size(100%, 112px);

      display: flex;
      align-items: center;
      .thumbnail__wrapper {
        position: relative;
        height: 112px;
        .thumbnail {
          @include size(112px, 112px);
          margin-right: 24px;
        }
      }
      .item__wrapper {
        width: 100%;
        h1 {
          @include size(100%, 24px);
          text-align: left;
          overflow: hidden;
          color: $color-grey-100;
          text-overflow: ellipsis;
          @include font(16px, 600, 24px);
          letter-spacing: -0.3px;
        }
        p {
          @include size(100%, 42px);
          text-align: left;
          overflow: hidden;
          color: $color-grey-70;
          text-overflow: ellipsis;
          @include font(14px, 400, 21px);
          letter-spacing: -0.3px;
          margin: 4px 0 12px 0;
        }
        footer {
          align-items: center;
          color: $color-grey-60;
          @include font(13px, 500, 18px);
          letter-spacing: -0.3px;
          .ic-category {
            width: 20px;
            margin-right: 6px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
