.main-button-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.setting-list {
  display: flex;
  flex-direction: column;
  padding: 20px 64px 64px 64px;
  width: 100%;
  box-sizing: border-box;
}

.myinfo {
  box-sizing: border-box;
  @extend .flex-container__col--100;
  padding: 8px 64px 40px 64px;
  justify-content: space-between;
  height: 100%;
}

.setting-nickname {
  color: $color-grey-60;
  text-align: right;
  font-feature-settings: 'cv12' on;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.3px;
}

.wrapper__input-left-icon {
  position: relative;
  margin-top: 8px;
  img {
    position: absolute;
    left: 16px;
    top: 25%;
    width: 24px;
  }
}

.wrapper__input-right-icon {
  position: relative;
  margin-top: 8px;
  button {
    position: absolute;
    right: 16px;
    top: 25%;
  }
  .button-clear {
    position: absolute;
    top: 11px;
    right: 85px;
    width: 24px;
    height: 24px;
    background-color: transparent;
  }
}

.myinfo-list {
  margin-bottom: 32px;
}

.wrapper__logout {
  margin-top: 4px;
}
.wrapper__withdraw {
  @extend .flex-container__col;
  justify-content: center;
  label {
    color: $color-grey-60;
    text-align: center;
    font-feature-settings: 'cv12' on;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 123.077% */
    letter-spacing: -0.3px;
    button {
      color: $color-grey-80;
      font-feature-settings: 'cv12' on;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: -0.3px;
      background-color: transparent;
      padding: 0;
    }
  }
}

.wrapper__setting-component {
  width: 100%;
}
