.main-button-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.setting-list {
  display: flex;
  flex-direction: column;
  padding: 20px 64px 64px 64px;
  width: 100%;
  box-sizing: border-box;
}

.myinfo {
  box-sizing: border-box;
  @extend .flex-container__col--100;
  padding: 8px 64px 40px 64px;
  justify-content: space-between;
  height: 100%;
}

.setting-myinfo {
  @extend .flex-container__col--100;
  height: 100vh;
}

.setting-nickname {
  text-align: right;
  font-feature-settings: 'cv12' on;
  @include font(16px, 600, 24px, $color-grey-60);
  letter-spacing: -0.3px;
}

.wrapper__input-left-icon {
  position: relative;
  margin-top: 8px;

  .logo__social-info {
    position: absolute;
    left: 16px;
    top: 25%;
    width: 24px;
    height: 24px;
    @include color($color-white, $color-white);
    border-radius: 50px;
    box-sizing: border-box;
    padding: 5px;
    @include flex(column, center, center);
    img {
      width: 90%;
    }
  }
}

.wrapper__input-right-icon {
  position: relative;
  margin-top: 8px;
  button {
    position: absolute;
    right: 16px;
    top: 25%;
  }
  .button-clear {
    position: absolute;
    top: 11px;
    right: 85px;
    @include size(24px, 24px);
    background-color: transparent;
  }
}

.myinfo-list {
  margin-bottom: 32px;
}

.wrapper__logout {
  margin-top: 4px;
}
.wrapper__withdraw {
  @extend .flex-container__col;
  justify-content: center;
  label {
    @include font(13px, 500, 16px, $color-grey-60);
    text-align: center;
    font-feature-settings: 'cv12' on;
    letter-spacing: -0.3px;
    button {
      @include color($color-grey-80, transparent);
      @include font(13px, 600, 16px);
      font-feature-settings: 'cv12' on;
      letter-spacing: -0.3px;
      padding: 0;
    }
  }
}

.wrapper__setting-component {
  width: 100%;
}
