.flex-container {
  display: flex;
}

.flex-container__col {
  @extend .flex-container;
  flex-direction: column;
}

.flex-container__row {
  @extend .flex-container;
  flex-direction: row;
}

.flex-container__row--space-between {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.flex-container__row--align-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
