// layout/ 폴더에는 사이트나 어플리케이션의 레이아웃에 기여하는 모든 것들이 들어갑니다.
// 이 폴더는 사이트의 주요 부분(header, footer, navigation, sidebar…),
// 그리드 시스템 혹은 모든 폼의 스타일을 위한 스타일시트를 가질 수도 있습니다.

.thenavbar {
  @extend .flex-container__col;
  @include size(368px, 100vh);
  z-index: 1;
  box-sizing: border-box;
  align-items: center;
  position: relative;
  background-color: #fff;
}

.navbar__top-container {
  padding: 28px 40px 16px 40px;
  position: fixed;
  top: 0;
  background-color: #ffffff;
}

.navbar__btn__wrapper {
  @include size(288px, 96px);
  position: fixed;
  bottom: 0px;
  background-color: #fff;
}

.profile__wrapper {
  @extend .flex-container__row;
  justify-content: left;
  align-items: center;
  margin-top: 32px;
  span {
    color: $color-grey-100;
    letter-spacing: -0.3px;
    @include font(18px, 700, 24px);
  }
  img {
    margin-right: 12px;
  }
}

.contents__empty {
  @include size(100%, 560px);
  align-items: center;
  justify-content: center;
  span {
    color: $color-grey-60;
    text-align: center;
    @include font(15px, 500, 30px);
    letter-spacing: -0.3px;
  }
}

.contents-filter__wrapper {
  @include flex(_, left, center);
  @include size(992px, 64px);
  gap: 8px;
  padding: 16px 0px 8px 0;
  box-sizing: border-box;
}

.navbar-shadow {
  position: absolute;
  z-index: 0;
  opacity: 0.05;
  background: #000;
  filter: blur(25px);
  @include size(368px, 100vh);
  left: 0;
  top: 0;
}

.wrapper__category-list {
  position: absolute;
  overflow-y: scroll;
  // top: 222px;
  overscroll-behavior: none;

  top: 198px;
  z-index: -10;
  height: calc(100vh - 305px);
}
